
  <div class="field">
    <tr><td>
      <%= f.label :firstname %></td><td>
      <%= f.text_field :firstname %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :lastname %></td><td>
      <%= f.text_field :lastname %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :email %></td><td>
      <%= f.text_field :email %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :phone_number %></td><td>
      <%= f.text_field :phone_number %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :username %></td><td>
      <%= f.text_field :username %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :password %></td><td>
      <%= f.password_field :password %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :password_confirmation, 'Confirm' %></td><td>
      <%= f.password_field :password_confirmation %>
    </td></tr>
  </div>
  <div class="field">
    <tr><td>
      <%= f.label :role %></td><td>
      <%= f.select(:role_id, @roles.collect {|r| [r.title]}, {:include_blank=>"--- select role ---"}) %>
    </td></tr>
  </div>  
