<% @page_title = "Subjects|New" %>
<h3>New subject</h3>
<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation" style="border:1px solid black;border-color:#CC0000; font-size:14px;text-align:left;">
      <% @subject.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>
  <table>
<%= render(:partial=>'form', :locals=>{:f=>f}) %>
<div class="actions">
    <tr><td>
      <%= submit_tag 'Create subject', :class=>"btn btn-medium btn-success"  %>
    </td></tr>
  </div>
<% end %>
</table>
<%= link_to 'Back', subjects_path, :class=>"btn-link"  %>
